# Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac
.DS_Store

# IDEs
.vscode/
.idea/

# Environment variables
.env
backend/uploads/
backend/processed/
